[submodule "pym2aia-examples-msiPL"]
	path = pym2aia-examples-msiPL
	url = https://github.com/m2aia/pym2aia-examples-msiPL
[submodule "pym2aia-examples-MSI-self-supervised-clustering"]
	path = pym2aia-examples-MSI-self-supervised-clustering
	url = https://github.com/m2aia/pym2aia-examples-MSI-self-supervised-clustering
